@using Entity
@{
    Layout = null;
    List<Category> categories = Query.CategoryList();
    List<Product> products = Query.ProductList();
    List<User> users = Query.UserList();
    User currentUser = Session["currentUser"] as User;
}
<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- Animate Min CSS -->
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <!-- FlatIcon CSS -->
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <!-- Odometer Min CSS -->
    <link rel="stylesheet" href="~/assets/css/odometer.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <!-- MeanMenu CSS -->
    <link rel="stylesheet" href="~/assets/css/meanmenu.css">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <!-- Font Awesome Min CSS -->
    <link rel="stylesheet" href="~/assets/css/fontawesome.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <!--Title-->
    <title>Sağlık Rehberi</title>
    <link rel="icon" type="image/png" href="~/assets/img/favicon.png">
</head>
<body>
    <!-- Preloader -->
    <div class="preloader"></div>
    <!-- End Preloader -->
    <!-- Start Navbar Area -->
    <div class="navbar-area">
        <div class="codepopular-responsive-nav">
            <div class="container">
                <div class="codepopular-responsive-menu">
                    <div class="logo">
                        <a href="index.html">
                            <img src="~/assets/img/logo.png" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="codepopular-nav bg-white">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="index.html">
                        @*<img src="~/assets/img/logo.png" alt="logo">*@
                        Sağlık Rehberi
                    </a>
                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="/Ziyaretci/Home/Anasayfa" class="nav-link active">Anasayfa</a>
                            </li>

                            <li class="nav-item">
                                <a href="/Ziyaretci/Home/Makaleler">Makaleler <i class="fas fa-chevron-down"></i></a>
                                <ul class="dropdown-menu">
                                    @foreach (var item in categories)
                                    {
                                        <li><a href="/Ziyaretci/Home/Makaleler?id=@item.ID">@item.Name</a></li>
                                    }
                                    <li><a href="/Ziyaretci/Home/Makaleler">Tüm Makaleler</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="/Ziyaretci/Home/Paketler" class="nav-link">Paketler <i class="fas fa-chevron-down"></i></a>
                                <ul class="mega-menu dropdown-menu">
                                    @foreach (var item in categories)
                                    {
                                        <li>
                                            <a href="/Ziyaretci/Home/Paketler?id=@item.ID">
                                                <span class="mega-icon"><i class="fas fa-cart-plus"></i></span>
                                                <div class="mega-content">
                                                    <h3 class="title">@item.Name</h3>
                                                    <p>Tüm Paketler</p>
                                                </div>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="/Ziyaretci/Home/UzmanKisiler" class="nav-link">Uzmanlar</a>
                            </li>
                            <li class="nav-item">
                                <a href="/Ziyaretci/Home/Hakkimizda" class="nav-link">Hakkımızda</a>
                            </li>
                            <li class="nav-item">
                                <a href="/Ziyaretci/Home/Iletisim" class="nav-link">İletişim</a>
                            </li>
                        </ul>
                        <div class="others-options">
                            @if (currentUser == null)
                            {
                                <div class="option-item">
                                    <a class="default-btn-one" href="@Url.Action("RegisterUzman", "Account", new { area = "" })">Uzman Üye Ol</a>
                                </div>
                                <div class="option-item">
                                    <a class="default-btn-one" href="@Url.Action("Register", "Account", new { area = "" })">Üye Ol</a>
                                </div>
                                <div class="option-item">
                                    <a class="default-btn-one" href="@Url.Action("Login", "Account", new { area = "" })">Giriş Yap</a>
                                </div>
                            }
                            else if (currentUser.Role == Role.Ziyaretçi)
                            {
                                currentUser = null;
                                <div class="option-item">
                                    <a class="default-btn-one" href="@Url.Action("Logout", "Account", new { area = "" })">Çıkış Yap</a>
                                </div>
                            }
                            else
                            {
                                currentUser = null;
                                <div class="option-item">
                                    <a class="default-btn-one" href="@Url.Action("Anasayfa", "Home", new { area = "Uzman" })">Yönetim Paneli</a>
                                </div>
                                <div class="option-item">
                                    <a class="default-btn-one" href="@Url.Action("Logout", "Account", new { area = "" })">Çıkış Yap</a>
                                </div>
                            }

                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->
    @RenderBody()
    <!-- Start Footer Section -->
    <section class="footer-section ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="footer-area">
                        <div class="footer-heading">
                            <h3>Hakkımızda</h3>
                        </div>
                        <p>
                            Sağlık Rehberi Spor, Beslenme, Uyku, Psikoloji, Hayat Koçu gibi alanlarda uzman olan yetkili şahıslardan hizmet almak isteyen kullanıcıları bu uzmanlarla buluşturan bir platformdur.
                        </p>
                        <ul class="footer-social">
                            <li>
                                <a href="#" class="bg-3955bc">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="bg-1da1f2">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="bg-004dff">
                                    <i class="fab fa-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="bg-0273af">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="bg-0273af">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="bg-0273af">
                                    <i class="fab fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="footer-item-area">
                        <div class="footer-heading">
                            <h3>Sayfalar</h3>
                        </div>
                        <ul class="footer-quick-links">
                            <li>
                                <a href="/Ziyaretci/Home/Hakkimizda">Hakkımızda</a>
                            </li>
                            <li>
                                <a href="/Ziyaretci/Home/Paketler">Paketler</a>
                            </li>
                            <li>
                                <a href="/Ziyaretci/Home/UzmanKisiler">Uzmanlar</a>
                            </li>
                            <li>
                                <a href="/Ziyaretci/Home/Iletisim">İletişim</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-heading">
                        <h3>İletişim</h3>
                    </div>
                    <div class="footer-info-contact">
                        <i class="flaticon-call-answer"></i>
                        <span>+1-202-555-0183</span>
                    </div>
                    <div class="footer-info-contact">
                        <i class="flaticon-envelope"></i>
                        <span><a href="mailto:info@saglikrehberi.com">info@saglikrehberi.com</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="default-animation">
            <div class="shape-img1"><img src="~/assets/img/shape/12.svg" alt="image"></div>
            <div class="shape-img2"><img src="~/assets/img/shape/13.svg" alt="image"></div>
            <div class="shape-img3"><img src="~/assets/img/shape/14.png" alt="image"></div>
            <div class="shape-img4"><img src="~/assets/img/shape/15.png" alt="image"></div>
            <div class="shape-img5"><img src="~/assets/img/shape/2.png" alt="image"></div>
        </div>
    </section>
    <!-- End Footer Section -->
    <!-- Start Copy Right Section -->
    <div class="copyright-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                   
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li>
                            <a href="privacy-policy.html">Gizlilik Politikası</a>
                        </li>
                        <li>
                            <a href="terms-and-condition.html">Şartlar ve Koşullar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Copy Right Section -->
    <!-- Start Go Top Section -->
    <div class="go-top">
        <i class="fas fa-chevron-up"></i>
        <i class="fas fa-chevron-up"></i>
    </div>
    <!-- End Go Top Section -->
    <!-- jQuery Min JS -->
    <script src="~/assets/js/jquery.min.js"></script>
    <!-- Popper Min JS -->
    <script src="~/assets/js/popper.min.js"></script>
    <!-- Bootstrap Min JS -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- MeanMenu JS  -->
    <script src="~/assets/js/jquery.meanmenu.js"></script>
    <!-- Appear Min JS -->
    <script src="~/assets/js/jquery.appear.min.js"></script>
    <!-- Odometer Min JS -->
    <script src="~/assets/js/odometer.min.js"></script>
    <!-- Owl Carousel Min JS -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <!-- Mixitup Min JS -->
    <script src="~/assets/js/jquery.mixitup.min.js"></script>
    <!-- WOW Min JS -->
    <script src="~/assets/js/wow.min.js"></script>
    <!-- Parallax Min JS -->
    <script src="~/assets/js/parallax.min.js"></script>
    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>
</body>
</html>