@using Entity
@model Article
@{
    ViewBag.Title = "Makale";
    Layout = "~/Areas/Ziyaretci/Views/Shared/_Layout.cshtml";
    List<Article> articles = Query.ArticleList();
    List<Category> categories = Query.CategoryList();
    int count = 0;
    int makaleCount = 0;
}
<!-- Start Page Title Area -->
<div class="page-title-area defaultbg" style="background-image:url(/assets/img/page.png);">
    <div class="breadcrumb-overly">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-title-content">
                        <h2>
                            Blog Details
                        </h2>
                        <ul>
                            <li><a href="/Ziyaretci/Home/Anasayfa">Anasayfa</a></li>
                            <li> Blog Details </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
<!-- Start Blog Area -->
<section class="blog-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <!-- Blog Details Area -->
            <div class="col-lg-8">
                <div class="blog-details-full">
                    <!-- Single Blog Meta -->

                    <div class="single-blog-meta mt-30 mb-20">
                        <ul>
                            <li><i class="fas fa-calendar-alt"></i>@Model.Tarih</li>
                            <li><i class="far fa-user"></i> @Model.Yazar</li>
                            <li><i class="fas fa-book"></i> @Model.Category.Name</li>
                        </ul>
                    </div>
                    <h2 class="title">@Model.Title</h2>
                    <div class="content">
                        <p>
                            @Model.Description
                        </p>
                    </div>
                    <div class="row mt-30">
                        <div class="col-md-6">
                            <div class="blog-single-tags">
                                <span>Kaynakça : </span>
                                <a href="" target="_blank">@Model.Kaynakca</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sidebar Area -->
            <div class="col-lg-4">
                <div class="blog-sidebar">
                    <!-- Blog Sidebar Single -->
                    <div class="blog-sidebar-single mb-35">
                        <h3>Makaleler</h3>
                        <div class="widgets-all-posts">
                            <!-- single -->
                            @foreach (var item in articles)
                            {
                                if (makaleCount < 4)
                                {
                                    <div class="widgets-single-post">
                                        <div class="widgets-single-post-thumb">
                                            <h6><a href="/Ziyaretci/Home/Makaleler?id=@item.ID">@item.Category.Name</a></h6>

                                        </div>
                                        <div class="widgets-single-post-content">
                                            <h2><a href="/Ziyaretci/Home/Makale?id=@item.ID">@item.Title</a></h2>
                                            <h2>@item.Yazar</h2>
                                            <span><i class="far fa-calendar-alt"></i> &nbsp; @item.Tarih.Year</span>
                                        </div>
                                    </div>

                                }
                                makaleCount++;
                            }
                        </div>
                    </div>
                    <!-- Blog Sidebar Single -->
                    <div class="blog-sidebar-single mb-35">
                        <h3>Kategoriler</h3>
                        <ul>
                            @foreach (var item in categories)
                            {
                                <li><a href="/Ziyaretci/Home/Makaleler?id=@item.ID">@item.Name</a></li>
                            }
                        </ul>
                    </div>
                    <!-- Blog Sidebar Single -->
                    <div class="blog-sidebar-single mb-35">
                        <h3>Etiketler</h3>
                        <div class="blog-sidebar-tags">
                            @foreach (var item in articles)
                            {
                                if (count < 4)
                                {
                                    <a href="/Ziyaretci/Home/Makaleler">@item.Etiket</a>
                                }
                                count++;
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>