@using Entity
@model User
@{
    ViewBag.Title = "UzmanKisiler";
    Layout = "~/Areas/Ziyaretci/Views/Shared/_Layout.cshtml";
    List<User> users = Query.UserList();
}
<!-- Start Page Title Area -->
<div class="page-title-area defaultbg" style="background-image:url(/assets/img/page.png);">
    <div class="breadcrumb-overly">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-title-content">
                        <h2>
                            Uzman Kişiler
                        </h2>
                        <ul>
                            <li><a href="/Ziyaretci/Home/Anasayfa">Anasayfa</a></li>
                            <li> Uzman Kişiler </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
<!-- Start Team Style 3 -->
<section class="team-section">
    <div class="container">
        <div class="section-title">
        </div>
        <div class="row">
           @foreach (User user in users.Where(x=>x.Role==Role.Uzman).ToList())
            {
            <div class="col-lg-6 mb-30">
                <div class="team-item-area-style-3">
                    <div class="team-image">
                        <img src="@user.Picture" alt="image">
                    </div>
                    <div class="team-content">
                        <div class="team-content-style-3">
                            <h3>@user.FirstName @user.LastName.ToUpper()</h3>
                            <span>@user.Title.ToString()</span>
                            <p>@user.Description </p>
                        </div>
                        <div class="team-social-full-style-3">
                            <ul class="team-social">
                                <li><a target="balnk" href="https://wa.me/@user.PhoneNumber"><i class="flaticon-call-answer"></i></a></li>
                                <li><a target="balnk" href="javacript::void(0)"><i class="flaticon-twitter"></i></a></li>
                                <li><a target="balnk" href="#"><i class="flaticon-linkedin-letters"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            }
            <div class="col-lg-6 mb-30">
                <div class="team-item-area-style-3">
                    <div class="team-image">
                        <img src="~/assets/img/team/2.jpg" alt="image">
                    </div>
                    <div class="team-content">
                        <div class="team-content-style-3">
                            <h3>Jessica Twain</h3>
                            <span>Sr. Graphic Designer</span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                        </div>
                        <div class="team-social-full-style-3">
                            <ul class="team-social">
                                <li><a target="balnk" href="#"><i class="flaticon-facebook-logo"></i></a></li>
                                <li><a target="balnk" href="javacript::void(0)"><i class="flaticon-twitter"></i></a></li>
                                <li><a target="balnk" href="#"><i class="flaticon-paypal"></i></a></li>
                                <li><a target="balnk" href="#"><i class="flaticon-linkedin-letters"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Team Style 3 -->